---
const { img, alt, name, role, description, url } = Astro.props;
---

<div class="card">
  {url ? (
    <a href={url} target="_blank">
      <img src={img} alt={alt} />
      <h4>{name}</h4>
      <p>{description}</p>
    </a>
  ) : (
    <>
      <img src={img} alt={alt} />
      <h4>{name}</h4>
      <p>{role}</p>
    </>
  )}
</div>

<style>
  .card {
    width: 250px;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
  }
  .card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }
</style>
